---
layout: default
---

<div class="post-meta">
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  {% if page.mood %}<span class="post-mood"> &middot; mood: {{ page.mood }}</span>{% endif %}
  {% if page.song %}<span class="post-song"> &middot; &#9835; {{ page.song }}</span>{% endif %}
</div>

{{ content }}

{% if page.original_url %}
<div class="post-original">
  {% if page.original_url contains 'twitter.com' or page.original_url contains 'x.com' %}
  <a href="{{ page.original_url }}">Originally posted on Twitter</a>
  {% elsif page.original_url contains 'facebook.com' %}
  <a href="{{ page.original_url }}">Originally posted on Facebook</a>
  {% elsif page.original_url contains 'livejournal.com' %}
  <a href="{{ page.original_url }}">Originally posted on LiveJournal</a>
  {% else %}
  <a href="{{ page.original_url }}">Originally posted elsewhere</a>
  {% endif %}
</div>
{% endif %}
